/* 
    Document   : scs
    Created on : Jun 26, 2013, 11:43:09 AM
    Author     : robur
    Description:
        Purpose of the stylesheet follows.
*/

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {

    border: 2px solid #bdc3c7;
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 8px 5px;
    height: 31px;
    text-indent: 6px;
    -webkit-appearance: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear;
    -moz-transition: border .25s linear, color .25s linear;
    -o-transition: border .25s linear, color .25s linear;
    transition: border .25s linear, color .25s linear;
    -webkit-backface-visibility: hidden;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border-color: #27AE60;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input[type="submit"],button {
    box-sizing:content-box;
    -moz-box-sizing:content-box;
    height: 14px;
    background-color: #27AE60;
    font-size: 12.996px;
    border: none;
    color: #ffffff;
    padding: 9px 12px 10px;
    margin: 0px 3px 0px;
    text-decoration: none;
    text-shadow: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
    cursor: pointer;
}

input[type="submit"]:hover,button:hover {
    background-color: #2ECC71;
}

#login {
    background-color: #2c3e50;
    height: 34px;
    padding-top: 6px;
    border-bottom: 4px solid #34495e;
}

#login-form {
    float: left;
}

#login-form .form-error {
    float: right;
}

.logged-email {
    color: #ecf0f1;
    margin: 5px;
}

.logout-menu, .login-menu {
    padding-top: 6px;
}
.logout-menu span, .login-menu span {
    margin: 10px;        
    color: #27AE60;
    cursor: pointer;
}

.logout-menu span:hover, .login-menu span:hover{
    color: #2ECC71;
}

.track-label {
    float: left;
    color: #7F8C8D;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    width: 280px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid white;
}

.track-label.track-imported {
    color: #27AE60;
}

.track-label:hover {
    color: #95A5A6;
}

.track-label.track-imported:hover {
    color: #2ECC71;
}

.track-label.on, .track-label.on:hover {
    border: 2px solid #95A5A6;
}
/* track label icons */
.isExclusive .image-exclusive,
.hasOrders .image-orders {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

.image-exclusive {
    display: none;
    background: url(../images/exclusive.png) no-repeat;
}

.image-orders {
    display: none;
    background: url(../images/order.png) no-repeat;
}

#track-list {
    width: 300px;
    min-height: 700px;
    height: 90%;
    border-right: 1px solid #7F8C8D;
    padding-right: 30px;
}

#track-panel {
    position: absolute;
    left: 320px;
    top: 60px;
    margin: 20px;
    width: calc(100% - 370px);
}

#track-edit {
    margin: 20px 20px 20px 20px;
}

#track-info {
    margin: 20px 20px 0px 20px;
}

#track-form {
    padding: 20px 20px 0px 20px;
}

#track-list-nav {
    float: left;
    clear: both;
    margin: 10px;
    padding: 20px;
}

#track-list-nav a, .more-tracks a{
    color: #27AE60;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    text-decoration: none;
}

#track-list-nav a:hover, .more-tracks a:hover{
    color: #2ECC71;
}

#track-list-nav a:active, .more-tracks a:active {
    color: #f39c12;
}

span.count-orders {
    float: right;
    color: black;
}
/* FORMS */

.form-info, .form-error {
    font-size: 12.996px;
    line-height: 10px;
    padding: 9px 12px 10px;
    border: none;
    color: #ffffff;
    text-decoration: none;
    text-shadow: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
    margin: 3px;
}


.form-info {
    background-color: #1ABC9C;
}

.form-error {
    background-color: #E74C3C;
}

input.input-error {
    border-color: #E74C3C;
}

div .input-error {
    color: #E74C3C;
}

#slider-range-min {

    margin: 10px;
    width: 180px;
}

.track-table-row {
    height: 60px;
}

.track-table-first-column {
    width: 110px;
}

.track-more {
    padding-bottom: 20px;
}

.track-more span.key {
    margin-right: 5px;
}

.track-more span.val {
    font-weight: bold;
    margin-right: 20px;
}

.track-description {
    padding-top: 10px;
    font-style: italic;
}
/* TRACKVIEW */

.trackview-form {
    margin: 20px;
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;        
    clear: both;
}

.trackview-form fieldset {
    border: none;
}

.trackview-form span {
    padding: 5px;
    margin: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: x-large;
    float: left;
}

.trackview-form .title,
.trackview-form .username {
    color: #27AE60;
}

.trackview-form .text {
    color: #2c3e50;
}

.trackview-form .exclusivity {
    color: #1abc9c;
    float: right;
}

.trackview-form .currency {
    font-weight: bold;
}

.trackview-form .price {
    color: #f1c40f;
}

.trackview-form input[type="submit"] {
    float: right;
}

.trackview-form .track-player {
    margin: 10px;
}

.more-tracks {
    margin: 20px;
}

.more-tracks .text{
    padding: 3px;
    margin: 5px;
    font-style: oblique;
}

#soundcloud-connect {
    background: url(../images/sc-button.png) no-repeat;
    cursor:pointer;
    width: 93px;
    height: 21px;
    border: none;
    margin: 5px;
} 

#soundcloud-connected {
    color: #2ECC71;
    margin: 5px;
    padding: 3px;
    bottom: 5px;
    position: relative;
}

#PPMiniCart .quantity
{
    visibility: hidden;
}

html,body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#content {
    clear: both;
    padding: 10px;
    margin-bottom: 20px;
}

/* ORDERS */

.order-row {
    padding: 5px;
    margin: 10px;
    font-size: small;
    color: black;
    border-bottom: 1px solid #7F8C8D;
}

.order-row > span.values {
    margin: 10px;
    font-size: x-large;
    color: #27AE60;
}

.order-row > span.keys {
    white-space: nowrap;
}

.item-list {
    margin: 10px;
    width: calc(100% - 60px);
}

.item-list-row {

    font-size: x-large;
    color: #95A5A6;
}

.item-list-row.item-list-row-total {
    color: #7F8C8D;
}

.item-list-row > td.price {
    margin: 10px;
    color: #e74c3c;
    text-align: right;
    width: 120px;
    padding-right: 40px;
}

.item-list-row.item-list-row-total > td.price{
    color: #c0392b;
}


.pdf-generator {
    background: url(../images/pdf-button.png) no-repeat;
    cursor:pointer;
    width: 32px;
    height: 32px;
    border: none;
    float: right;
    position: relative;
    right: 10px;
}

.datepicker {
    margin: 10px;
    font-weight: bold;
}

.cancel-button {
    background: url(../images/cancel-button.png) no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none;
    position: relative;
    left: -32px;
    top: 2px;
    opacity: .5;
}

/* LOADER */
.loader {
    display: none;
    color: #bdc3c7;
    position: absolute;
    top: 15px;
    right: 15px;
}

.loader.active {
    display: block;
}

span.ui-button-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.white-box {
    margin: 20px;
    padding: 20px;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.gray-box, .error-box {
    margin: 20px;
    padding: 20px;
    background-color: #ECF0F1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

span.button{
    margin: 10px;
    color: #27AE60;
}

span.button:hover{
    color: #2ECC71;
}

#user-form, #pwdreq-form {

    padding: 20px;
    margin-left: 15px;
    float: left;
}

a {
    color: #27AE60;
}

a:hover {
    color: #2ECC71;
}
